---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { getCollection } from "astro:content";
import AudioTable from "../components/AudioTable";

const data = await getCollection('formats', ({ data }: { data: { draft?: boolean, pubDate: Date } }) => {
    return import.meta.env.PROD ? data.draft !== true : true
})

data.sort((a: typeof data[0], b: typeof data[0]) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>

  <body>
    <AudioTable posts={data} client:load />
    <Footer />
  </body>
</html>
