---
const today = new Date();
---
<footer class="text-center p-4">
	Made by <a class="font-medium text-blue-600 dark:text-blue-500 hover:underline" href="https://urre.me">Urban Sandén</a> {today.getFullYear()}
</footer>
